<div class="modal-header">
    <h5 class="modal-title" id="productModalLabel">{{selectedProduct.name}} details</h5>
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table no-border">
        <tr>
            <td>Id</td>
            <td>{{selectedProduct.id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{selectedProduct.name}}</td>
        </tr>
        <tr>
            <td>Color</td>
            <td>{{selectedProduct.color}}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>{{selectedProduct.price}}</td>
        </tr>
        <tr>
            <td>Detail</td>
            <td>{{selectedProduct.detail}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
</div>